### CMake
/cmake-build-debug

### JetBrain IDE
/.idea

### LIBRARY ###
/lib/realsense/**/*.h
/lib/realsense/**/*.hpp
/lib/realsense/**/CMakeLists.txt
/lib/opencv455/**/*.h
/lib/opencv455/**/*.hpp
/lib/opencv455/**/CMakeLists.txt
